.faqs{
background-image: url("../imgs/res-bg.jpg");
height: 100vh;
color: white;
}

.faq-answer{
    text-align: left;
}

.faqs-holder{
    
}

.faq-question{
font-weight: 300;
position: relative;
display: block;
text-align: left;
width: 100%;
padding: 1em 0;
color: #e19787;
font-size: 1.15rem;
font-weight: 400;
border: none;
background: none;
outline: none;
}

.active-faq{

}

.faqs-list{

}

.faq-item{
    
}