.header-footer {
    grid-area: footer;
    bottom: 0;

}

.sasula {
    display: flex;
    flex-direction: column;
    grid-template-areas:
        "header header header header header header"
        "content content content content content content"
        "footer footer footer footer footer footer";
    background-image: url('../imgs/res-bg.jpg');
}

.header-about-us {
    grid-area: header;
}

.content-about-us {
    padding: ;
display: flex; 
height: 100vh;

}

.member-text{
    color: red;
}