.header-footer {
    grid-area: footer;
    bottom: 0;

}

.sasula {
    display: flex;
    flex-direction: column;
    grid-template-areas:
        "header header header header header header"
        "content content content content content content"
        "footer footer footer footer footer footer";
    background-image: url('../imgs/res-bg.jpg');
}

.header-about-us {
    grid-area: header;
}

.content-member {
    /* padding: 100px; */
    align-items: center;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    height: 100vh;

}

.member-text{
    color: white;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: -webkit-left;
    /* align-content: left; */
    display: flex;
    width: 400px;
}

.member-left-content{
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.member-card{
    border-radius: 0;
    border: none;
    width: 700px;
}