.memebership-page{
    height: 100vh;
}

.slide-1{
    
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(http://localhost:3000/static/media/abby.a09c9cd….jpg);
    object-fit: contain !important;
}