.memebership-page{
    height: 100vh;
}

.slide-1{
    object-fit: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    /* background-image: url("../imgs/rework/jay3-7.jpg"); */
    object-fit: contain !important;
    flex-wrap: wrap;
    align-items: center;
}

.slider-img{
    height: 100%;
    width: 100%;
    position: sticky;
    z-index: 1;
    object-fit: cover;

}

.slider-text{
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    margin-left: 40px;
    position: absolute;
    text-align: left;
}
.slider-title{
    font-size: 4rem;
}
.slide-des{
margin-top:20px !important;
width: 200px;
}

.slider-button{
    /* border-radius: 20px; */
    background-color: rgb(6, 6, 6);
    font-size: 15px;
    margin-top:20px;
    width: 150px;
    padding: 15px;
    color: white;
}
.slider-para{

}


.center-button{
        /* border-radius: 20px; */
        background-color: rgb(6, 6, 6);
        font-size: 15px;
        margin-top: 20px;
        align-self: center;
        width: 150px;
        padding: 15px;
        color: white;
}