@media(max-width:999px) {

    .mobile-contact-content {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .top-right{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .bottom-right{
        display: flex;
    }

}

.mobile-contact-content {
    display: flex;
    margin: 50px;
}

