.mobile-view{
    display: none;
}


/* load mobile code */
@media(max-width:999px) {
    .mobile-view{
        display: block;
    }


    .reservations-holder{
        display: none !important;
    }


    .res
}