/* mobile view only */
@media(max-width:999px) {
.nv-sect-mobile{
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    background-image: url("../imgs//mobile_bg.jpg");
}

.nv-sect-mobile-header{
    width: 100%;
}

.mobile-breadcrumb{
    padding-top: 20px;

}

.breadcrumb-title{
    color: wheat;
}






















}

