/* mobile view only */
@media(max-width:999px) {
.nv-sect-mobile{
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    background-image: url("../imgs//mobile_bg.jpg");
}

.nv-sect-mobile-header{
    width: 100%;
}

.mobile-breadcrumb{
    padding: 50px;
    background-image: url("../imgs/rest_header_mobile.jpg");
    padding-top: 110px;

}

.breadcrumb-title{
    font-weight: 300;
    color: wheat;
    text-align: left;
    margin-left: 20px;
}

.breadcrumb-text{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.mobile-footer{
    /* position: absolute; */
    z-index: 1;
    bottom: 0;
}

.nvSection-main{


}


.main-img{

}





















}

