@media (max-width: 999px){
.christmas-banner {
    background-image: url("../imgs/nonivie-lounge.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 800px;
    place-content: center;
    margin-bottom: -5px;
}

.emma{
    margin-top: 6px !important;
}

.nonivie-christamas{
    width: 300px;
    place-self: center;
}


.colorMe{
    background-color: salmon;
    color: wh;
    align-self: center;
    font-weight: 700;
}

.our-chefs{
    width: 60%;
    align-self: center;
}


}