


.menu_item_holder{
        height: fit-content;
        width: 80%;
        align-self: center;
        justify-content: center;
        display: flex;
}

.menu_item_right{
    background-color: rgb(9 19 21);
    display: flex;
       flex-direction: column;
       width: 382px;
       justify-content: center;
       align-items: center;
}

.menu_item_left{
    width: 30%;
}

.food-title{
    width: 40%;
    height: 20%;
}

.food-desc{
    width: 50%;
}

.meal_right{

}
