.menu_item_holder{
    background-color: blue;
        height: fit-content;
        width: 80%;
        justify-content: center;
        display: flex;
}

.menu_item_right{
       display: flex;
       align-items: center;
       background-color: aqua;
}

.menu_item_left{
    /* height: 382px; */
    /* width: 100%; */
background-color: azure;
}

.food-title{
    width: 20%;
    height: 20%;
}