
spinnerTwo{
  background: #091315;
  width: 100%;
  color: white;
  padding: 3px !important;
  border: 1px solid #864c41 !important; 
      /* background: #091315; */
      border-radius: 10px;
      margin-top: 1px !important;
      border: 1px so
  }
  


@media(max-width:375px) {

  .dx-form-container {
    color: #000;
    overflow-x: hidden;
    text-align: -moz-center;
    text-align: -webkit-center;
    display: flex !important;
    flex-direction: column;
    margin-top: -25px;
    width: 100%;
    margin-bottom: 80px;
    background-color: #000;
    background-repeat: no-repeat;
  }


}

@media(max-width:999px) {

  .dx-form-container {
    color: #000;
    overflow-x: hidden;
    text-align: -moz-center;
    text-align: -webkit-center;
    display: flex !important;
    flex-direction: column;
    margin-top: -25px;
    width: 100%;
    margin-bottom: 80px;
    background-color: #000;
    background-repeat: no-repeat;
  }

  .form-group{
    display: flex;
  }
  
  .next-container{
    width: 100% !important;
  }
  
  input,
  textarea {
    background-color: #091315;
    border-radius: 0px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100% !important;
    margin: 10px;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #864c41 !important;
    font-size: 16px !important;
    color: #f5f1f1 !important;
    font-weight: 400;
  }
  
  input:focus,
  textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* border: 1px solid #f14b0a !important; */
    outline-width: 0;
    font-weight: 400
  }
  
  button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
  }
  
  .card {
    border-radius: 0;
    border: none
  }
  
  .card1 {
    width: 50%;
    padding: 0px 30px 10px 30px
  }
  
  .card2 {
    width: 50%;
    /* background-image: linear-gradient(to right, #FFD54F, #f14b0a) */
  }
  
  #logo {
    width: 70px;
    height: 60px
  }
  
  .heading {
    margin-bottom: 60px !important
  }
  
  ::placeholder {
    color: #000 !important;
    opacity: 1
  }
  
  :-ms-input-placeholder {
    color: #000 !important
  }
  
  ::-ms-input-placeholder {
    color: #000 !important
  }
  
  .form-control-label {
    font-size: 12px;
    margin-left: 15px
  }
  
  .msg-info {
    padding-left: 15px;
    margin-bottom: 30px
  }
  
  .btn-color:hover{
    background-color: #FBD2C7;
    color: black;
  }

  /* border-radius: 20px;
  width: 164px;
  margin-bottom: 49px;
  padding: 12px;
  border: 1px;
  border-style: solid;
  border-color: #d37765;
  font-size: .8rem;
  background-color: #fbd2c700;
  color: white; */

  .btn-color {border-radius: 20px;
    width: 164px;
    margin-bottom: 49px;
    padding: 12px;
    border: 1px;
    border-style: solid;
    border-color: #d37765;
    font-size: .8rem;
    background-color: #fbd2c700;
    color: white;
  }
  
  ::placeholder {
    color: whitesmoke !important;
    opacity: 1; 
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: whitesmoke !important;
  }
  
  .btn-color:hover {
    color:black;
    background-color:#FFD54F;
    border: 0px solid  linear-gradient(to right, #f7c9bc, #86270d) !important;
    border-radius: 30px;
  }
  
  
  /* .btn-white {
    border-radius: 50px;
    color: #f14b0a;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #f14b0a !important
  } */
   /*
  .btn-white:hover {
    color: black;
    background-image: linear-gradient(to right, #FFD54F, #f14b0a) 
  }*/
  
  a {
    color: #000
  }
  
  a:hover {
    color: #000
  }
  
  .bottom {
    width: 100%;
    margin-top: 50px !important
  }
  
  .sm-text {
    font-size: 15px
  }
  
  @media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }
  
    .card2 {
        width: 100%
    }
  
    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }
  
    .card2 {
        padding: 50px
    }
  
    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
  }
  
  
  .small-input{
    width: 50% !important;
  }














}


/* desktop style */
.dx-form-container {
  color: #000;
  overflow-x: hidden;
  text-align: -moz-center;
  text-align: -webkit-center;
  display: flex !important;
  width: 100%;
  margin-bottom: 80px;
  background-color: #000;
  background-repeat: no-repeat;
}

.form-group{
  display: flex;
}

.next-container{
  width: 100% !important;
}

input,
textarea {
  background-color: #091315;
  border-radius: 10px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #864c41 !important;
  font-size: 16px !important;
  color: #f5f1f1 !important;
  font-weight: 400;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* border: 1px solid #f14b0a !important; */
  outline-width: 0;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border-radius: 0;
  border: none
}

.card1 {
  width: 50%;
  padding: 0px 30px 10px 30px
}

.card2 {
  width: 50%;
  /* background-image: linear-gradient(to right, #FFD54F, #f14b0a) */
}

#logo {
  width: 70px;
  height: 60px
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #000 !important
}

::-ms-input-placeholder {
  color: #000 !important
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.btn-color {
  border-radius: 20px;
  width: 164px;
  margin-bottom: 49px;
  padding: 12px;
  border: 1px;
  margin-top: 36px;
  border-style: solid;
  border-color: #d37765;
  font-size: .8rem;
  background-color: #fbd2c700;
  color: white;

}

::placeholder {
  color: whitesmoke !important;
  opacity: 1; 
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: whitesmoke !important;
}

.btn-color:hover {
  color:black;
  background-color:#FBD2C7;
  border: 0px solid  linear-gradient(to right, #f7c9bc, #86270D) !important;
  border-radius: 30px;
}


/* .btn-white {
  border-radius: 50px;
  color: #f14b0a;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #f14b0a !important
} */
 /*
.btn-white:hover {
  color: black;
  background-image: linear-gradient(to right, #FFD54F, #f14b0a) 
}*/

a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px !important
}

.sm-text {
  font-size: 15px
}

@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px
  }

  .card2 {
      width: 100%
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important
  }

  .card2 {
      padding: 50px
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}


.small-input{
  width: 50% !important;
}