.radio-holder-container{
    display: block;
    /* position: relative; */
    /* padding-left: 35px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.radio-holder .radio{
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
}




/* $text-color: mix(#000, $primary-color, 64%); */
/*  */


/* Change color here. C'mon, try it! */
:root {
    --primary-color: #00005c;
  }
  
  .dx-lable {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  /* Accessible outline */
  /* Remove comment to use */
  /*
  .dx-lable:focus-within {
    outline: 0.125em solid var(--primary-color);
  }
  */
  
  .dx-lable .check {
    position: absolute;
    left: -9999px;
  }
  
  .dx-lable .check:checked + .dx-span {
    background-color: rgba(255, 255, 255, 0.84);
  }
  
  .dx-lable .check:checked + .dx-span:before {
    box-shadow: inset 0 0 0 0.4375em var(--primary-color);
  }
  
  .dx-lable .dx-span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em; /* or something higher... */
    transition: 0.25s ease;
  }
  
  .dx-lable .dx-span:hover {
    background-color: rgba(255, 255, 255, 0.84);
  }
  
  .dx-lable .dx-span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--primary-color);
  }
  


.radio-holder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
