.nonivie-text{
    width:100%;
    height: 100px;
}

.icarly-text{
    color:#c9ab81;
    margin-top: 150px;
    font-family: Miniver,sans-serif;
}
.no-height{
    height: 0px !important;
    margin: 50px;
}
