.park-holder {}

.upper-park-element {
    margin-bottom: 15rem;
}

@media (min-width:650px) {
    .upper-park-element {
        margin-bottom: 20rem;
        display: flex;
    }

}


.park-ic{
width: 300px;
}


.park-heading{
    font-size: 3.7rem;
}