.pc-menu-holder{
    display: flex;
    justify-content: center;
    background-color: blue;
}

.pc-menu-image{
    background-color: aqua;
    width: 407px;
    height: 207px;
}

.pc-menu-text{
    background-color:blueviolet;
    width: 407px;
    height: 407px;
}