.pc-menu-holder{
    display: flex;justify-content: center;
    background-color: brown;
}

.pc-menu-image{
    background-color: aqua;
    width: 207px;
    height: 207px;
}

.pc-menu-text{
    background-color:blueviolet;
    width: 207px;
    height: 207px;
}