.pc-menu-holder{
    display: flex;
    justify-content: center;
}

.pc-menu-image{
    width: 407px;
    height: 500px;
}

.pc-menu-text{
    width: 407px;
    height: 450px;
}

.meal-image-pc-view{
    width: 405px;
    height: 500px;
}