
@media(max-width:999px) {
    .reservationHome-kim{
        /* background-image: url("../imgs/reserve_bg.png"); */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        background-size: cover;
    }

    .kim-reserve-ic{
        width: 290px;
        margin-top: 100px;
    }

    .kim-reserve{
        width: 200px;
    }

    .ex-heading{
        width: 180px;
        margin-top: 10px;
    }
}