@media (max-width: 999px){
    .single-post-page{
        background-color: black;
        height: 100vh;
    }

    .mobile-menu{
        display: block !important;
    }

    .mobile-footer{
        display: block Im !important\;
    }
    
}


.single-post-page{
    background-color: black;
}


.mobile-menu{
    display: none;
}