@media (max-width: 999px){
    .single-post-page{
        background-color: black;
        height: 100vh;
    }

    .o
    
}


.single-post-page{
    background-color: black;
}


.mobile-menu{
    display: none;
}